@model SchedulePicker.ViewModels.StudentCourseViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
    tr.row_selected td {
        background-color: #3299CC !important;
    }

</style>
<div>

    <h1>Courses</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card mb-2 mt-5 ">
                    <div class="card-header">
                        <b>Courses Taken</b>
                    </div>
                    <div class="card-body">
                        <table id="StudentCoursesTable" class="table table-striped table-bordered">
                            <thead>

                                <tr>
                                    <th>
                                        Course
                                    </th>
                                    <th>
                                        Number
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Credits
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger float-right" id="DeleteButton">Delete Course</button>

                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mt-5 mb-2">
                    <div class="card-header">
                        <b>Courses Needed</b>
                    </div>
                    <div class="card-body">
                        <table id="StudentCoursesNeededtable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Course
                                    </th>
                                    <th>
                                        Number
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Credits
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success float-right" id="AddButton">Add Course</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>

@section scripts{

    <script src="~/View/StudentCourses/Index.js" asp-append-version="true"></script>
}